node_modules/
dist/
.env
*.log
.DS_Store
coverage/
.nyc_output/
logs/
*.sqlite
*.sqlite3
.vscode/settings.json
.idea/
.vs/
.vscode/launch.json
.vscode/tasks.json
.cache/
.temp/
.tmp/
.build/
.output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm
.eslintcache
.stylelintcache
.sass-cache/
.parcel-cache/
.next/
out/
build/
dist/
.vercel/
.netlify/
.serverless/
.fusebox/
.dynamodb/
.tern-port
